@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
body { margin:0; padding:0; background-color: #fff000; font-size:12px; margin-top:1em; }
body h1:first-child { margin-top: 0; }

.adwrap { width:100%; text-align:center; }
.container { width: 95%; margin: 0 auto; }
.content { 
	background-color: #f9f9f9; 
	padding: 1em;
	-o-border-radius: .5em; -moz-border-radius: .5em; -ms-border-radius: .5em; -webkit-border-radius: .5em;
	border-radius: .5em;
	text-align: center;
}
.content h1 {
	padding:0; margin:0;
	font-size: 1.5em;
}

.content > #app-input .text-input,
.content > #app-input .select-input {
	font-size:1.3em;
	text-align:center;
	clear:both;
	width:90%;
	padding:.5em;
	margin-bottom: .5em;
	-o-border-radius: .5em; -moz-border-radius: .5em; -ms-border-radius: .5em; -webkit-border-radius: .5em;
	border-radius: .5em;
}
.content button {
	font-size:1.3em;
	text-align:center;
	clear:both;
	width:95%;
	padding:.5em;
	margin-bottom: .5em;
	border:0;
	-o-border-radius: .5em; -moz-border-radius: .5em; -ms-border-radius: .5em; -webkit-border-radius: .5em;
	border-radius: .5em;
}

.content button.ks {
	background-image:linear-gradient(bottom,#e0c923 0%,#fff000 100%);
	background-image:-o-linear-gradient(bottom,#e0c923 0%,#fff000 100%);
	background-image:-moz-linear-gradient(bottom,#e0c923 0%,#fff000 100%);
	background-image:-webkit-linear-gradient(bottom,#e0c923 0%,#fff000 100%);
	background-image:-ms-linear-gradient(bottom,#e0c923 0%,#fff000 100%);
	background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0,#e0c923),color-stop(1,#fff000) );
	color:#301718;
}
.content button.fb {
	background-image:linear-gradient(bottom,#314d88 0%,#5f8be8 100%);
	background-image:-o-linear-gradient(bottom,#314d88 0%,#5f8be8 100%);
	background-image:-moz-linear-gradient(bottom,#314d88 0%,#5f8be8 100%);
	background-image:-webkit-linear-gradient(bottom,#314d88 0%,#5f8be8 100%);
	background-image:-ms-linear-gradient(bottom,#314d88 0%,#5f8be8 100%);
	background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0,#314d88),color-stop(1,#5f8be8) );
	color:#fff;
}
.content button.tw {
	background-image:linear-gradient(bottom,#314d88 0%,#5CD1E5 100%);
	background-image:-o-linear-gradient(bottom,#314d88 0%,#5CD1E5 100%);
	background-image:-moz-linear-gradient(bottom,#314d88 0%,#5CD1E5 100%);
	background-image:-webkit-linear-gradient(bottom,#314d88 0%,#5CD1E5 100%);
	background-image:-ms-linear-gradient(bottom,#314d88 0%,#5CD1E5 100%);
	background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0,#314d88),color-stop(1,#5CD1E5) );
	color:#fff;
}
.content button.kt {
	background-image:linear-gradient(bottom,#2e1519 0%,#583e3e 100%);
	background-image:-o-linear-gradient(bottom,#2e1519 0%,#583e3e 100%);
	background-image:-moz-linear-gradient(bottom,#2e1519 0%,#583e3e 100%);
	background-image:-webkit-linear-gradient(bottom,#2e1519 0%,#583e3e 100%);
	background-image:-ms-linear-gradient(bottom,#2e1519 0%,#583e3e 100%);
	background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0,#2e1519),color-stop(1,#583e3e) );
	color:#fff000;
}

@media screen and (min-width: 728px) { 
	.container { width: 800px; }
}